.projects_box_container{
    width:600px;
    margin: 20PX;
}
.project_box_image_container >img{
    width:600px;
}

.project_box_title{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: red;
}
.project_box_details{
    padding: 0 10px;
}
.project_box_details > p, .project_box_link{
    font-size: 19px;
}
.project_box_link >span{
    color: red;
    font-weight: 700;
}
.project_box_link > a{
    color: white;
}
